<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z3"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>
  <section ng-controller="NavCtrl">
    <md-toolbar class="md-tall md-hue-2" ng-if="isUser">
      <span flex></span>

      <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset text-center">
        <div>{{user.firstname}} {{user.name}}</div>
        <div class="md-caption">{{user.email}}</div>
        <md-button aria-label="Déconnexion" class="md-icon-button" ng-click="logout()">
          <md-icon class="material-icons">power_settings_new</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-list>
      <md-list>
        <md-list-item ng-repeat="page in pages">
          <md-button class="md-list-item-content" ng-hide="page.isHeader" ui-sref-active="active" ui-sref="{{page.name}}">
            <md-icon class="material-icons">{{page.data.icon}}</md-icon>
            {{page.data.name}}
          </md-button>
          <md-subheader ng-show="page.isHeader">
            {{page.data.name}}
          </md-subheader>
        </md-list-item>
      </md-list>
    </md-list>
  </section>
</md-sidenav>

<div layout="column" layout-fill style="overflow: auto;">
  <md-toolbar layout="row" class="md-whiteframe-z2 md-toolbar-tools" md-scroll-shrink>
    <md-button class="md-icon-button" hide-gt-sm ng-click="main.toggleMenu()" aria-label="Afficher le menu">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2 ng-bind="pageTitle" class="page-title"></h2>

    <md-button ng-if="fabbutton != null" class="md-fab md-fab-top-right md-accent" ng-click="fabbutton.handler()">
      <md-icon class="material-icons">{{fabbutton.icon}}</md-icon>
    </md-button>
  </md-toolbar>

  <md-content layout-align="center start" role="main" flex>
    <md-whiteframe ui-view class="stofma-content md-whiteframe-z1" layout layout-padding></md-whiteframe>
  </md-content>
</div>


