<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-3dp"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
  <section ng-controller="NavCtrl" layout="column" layout-align="center space-between">
    <md-toolbar class="md-tall md-hue-2" ng-if="isUser">
      <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset text-center">
        <md-icon ng-if="user.isMember">card_membership</md-icon>
        <div>{{user.getName()}}</div>
        <div class="md-caption">{{user.email}}</div>
        <div layout="row" layout="center center">
          <md-button aria-label="Accueil" class="md-icon-button" ui-sref-active="active" ui-sref="user.home">
            <md-icon>home</md-icon>
          </md-button>
          <md-button aria-label="Déconnexion" class="md-icon-button" ng-click="logout()">
            <md-icon>power_settings_new</md-icon>
          </md-button>
        </div>
      </div>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="page in pages">
        <md-button class="md-list-item-content" ng-hide="page.isHeader" md-no-ink ui-sref-active="active" ui-sref="{{page.name}}">
          <md-icon>{{page.data.icon}}</md-icon>
          {{page.data.name}}
        </md-button>
        <md-subheader ng-show="page.isHeader">
          {{page.data.name}}
        </md-subheader>
      </md-list-item>
    </md-list>
  </section>
</md-sidenav>

<div layout="column" layout-fill style="overflow: hidden;" id="wrapMain">
  <md-toolbar class="md-whiteframe-z2" md-scroll-shrink ng-class="{'have-fab': fabbutton != null}">
    <div class="md-toolbar-tools" ng-if="onSearch == null">
      <md-button class="md-icon-button" hide-gt-md ng-click="main.toggleMenu()" aria-label="Afficher le menu">
        <md-icon>menu</md-icon>
      </md-button>
      <h2 ng-bind="pageTitle" class="page-title"></h2>
      <md-button class="md-icon-button" ng-repeat="btn in iconToolbarButtons" ng-click="btn.onclick()" aria-label="btn.name">
        <md-icon>{{btn.icon}}</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="searchIcon()" ng-if="searchIcon" aria-label="Recherche">
        <md-icon>search</md-icon>
      </md-button>
      <md-button ng-show="fabbutton != null" class="md-fab md-fab-{{fabbutton.top}}-right md-accent" ng-click="fabbutton.handler()">
        <md-icon>{{fabbutton.icon}}</md-icon>
      </md-button>
    </div>
    <div class="md-toolbar-tools" id="searchToolbar" ng-if="onSearch != null" layout="row" layout-align="center center">
      <md-input-container flex md-no-float>
        <input type="text" ng-model="searchInput" placeholder="{{searchLabel}}" ng-change="onSearch(searchInput)"/>
      </md-input-container>
      <md-button class="md-icon-button" ng-click="searchIcon(false)" aria-label="Arrêter la recherche">
        <md-icon>clear</md-icon>
      </md-button>
    </div>
    <div ng-if="tabmenu != null">
      <md-tabs md-center-tabs="true" class="md-primary" md-selected="tabmenu.selected">
        <md-tab id="tb-{{tab.id}}" ng-repeat="tab in tabmenu.tabs" aria-controls="{{tab.id}}-content">{{tab.name}}</md-tab>
      </md-tabs>
    </div>
    <md-progress-linear ng-show="loadingPage" md-mode="indeterminate"></md-progress-linear>
  </md-toolbar>

  <md-content layout-align="center start" role="main" id="mainContent" flex>
    <div ui-view class="stofma-content md-whiteframe-3dp" layout-padding></div>
    <footer layout-align="center center" layout="column" layout-margin>
      <div layout-padding>
        <a ui-sref="anon.mentions">Mentions légales</a>
      </div>
      <em>© {{getYear()}} – version {{getVersion()}}</em>
    </footer>
  </md-content>
</div>


