<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z3"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
  <section ng-controller="NavCtrl as nav">
    <div ng-show="auth.isAuthenticated()">
      <md-toolbar class="md-hue-2">
        <span>{{auth.user().firstname}} {{auth.user().name}}</span>
        <md-menu layout-align="center center" layout="column">
          <md-button aria-label="Account menu" class="md-icon-button" ng-click="$mdOpenMenu()">
            <md-icon md-menu-origin class="material-icons">settings</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button>
                <md-icon md-menu-align-target class="material-icons">settings</md-icon>
                <p>Paramètres</p>
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item ng-click="logout()">
              <md-button>
                <md-icon class="material-icons">power_settings_new</md-icon>
                <p>Déconnexion</p>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <md-button ui-sref-active="active" ui-sref="auth.home">
            <md-icon class="material-icons">home</md-icon>
            Accueil
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button ui-sref-active="active" ui-sref="auth.sell">
            <md-icon class="material-icons">local_grocery_store</md-icon>
            Vendre
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button ui-sref-active="active" ui-sref="auth.sales">
            <md-icon class="material-icons">layers</md-icon>
            Ventes
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button ui-sref-active="active" ui-sref="auth.purchases">
            <md-icon class="material-icons">toc</md-icon>
            Achats
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-button ui-sref-active="active" ui-sref="anon.register">
            <md-icon class="material-icons">local_grocery_store</md-icon>
            Inscrire un membre
          </md-button>
        </md-list-item>
      </md-list>
    </div>

    <div ng-hide="auth.isAuthenticated()">
      <md-list>
        <md-list-item>
          <md-button ui-sref-active="active" ui-sref="anon.login">
            <md-icon class="material-icons">home</md-icon>
            Connexion
          </md-button>
        </md-list-item>
      </md-list>

      <md-list-item>
        <md-button ui-sref-active="active" ui-sref="anon.register">
          <md-icon class="material-icons">local_grocery_store</md-icon>
          Inscription
        </md-button>
      </md-list-item>
    </div>
  </section>
</md-sidenav>

<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

  <md-toolbar layout="row" class="md-whiteframe-z2 md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-sm ng-click="toggleMenu()" aria-label="Afficher le menu">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2 ng-bind="pageTitle"></h2>
  </md-toolbar>

  <md-content layout-padding>
    <div class="stofma-content" ui-view></div>
  </md-content>

</div>

