<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="fr" ng-app="stofmaApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="fr" ng-app="stofmaApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="fr" ng-app="stofmaApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" ng-app="stofmaApp" ng-strict-di class="no-js"> <!--<![endif]-->
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Office Manager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
      [ng-cloak] {
        display: none;
      }
    </style>

    <meta name="mobile-web-app-capable" content="yes">

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--STYLES-->
    <!--STYLES END-->
  </head>

  <body ng-controller="MainCtrl as main">
    <div class="screen-intro" layout="column" layout-align="center center" ng-hide="appLoaded">
      <h1 class="md-display-1 ng-cloak">Student Office Manager</h1>

      <h2 hide-sm class="md-title ng-cloak">Faites affaire sereinement.</h2>
      <img src="/images/logo_stofma.png" alt="Logo for intro" class="text-center ng-cloak">
      <md-progress-circular class="md-accent" md-diameter="32" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="wrap" layout="row" ng-cloak>
      <%- body %>
    </div>

    <script> /* To prevent error on underscore */
      var _ = {escape: null}; </script>
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>

