<md-tabs flex md-no-pagination="false" md-dynamic-height="true" md-selected="tabSelected" md-swipe-content="true" md-center-tabs="true">
  <md-tab ng-repeat="cat in categories">
    <md-tab-label>{{cat.name}}</md-tab-label>
    <md-tab-body>
      <md-list>
        <product-line ng-repeat="product in products | filter :{ category:cat.id } track by product.id" product="product"></product-line>

        <md-list-item class="md-2-line" ng-if="(products | filter :{ category:cat.id }).length == 0">
          <div class="md-list-item-text text-center">
            <h1 class="md-title">Aucun produit dans cette catégorie</h1>
          </div>
        </md-list-item>
      </md-list>
    </md-tab-body>
  </md-tab>
</md-tabs>

<md-switch ng-show="isSelectingMode && showSwitchPrice" ng-model="showMemberPrice" aria-label="levelPrice">
  Prix membre
</md-switch>

<h2 class="text-center" ng-if="products.length == 0">Aucun produit enregistré pour le moment.</h2>

<md-toolbar ng-if="isSellingMode">
  <div class="md-toolbar-tools md-toolbar-tools-bottom">
    <span class="md-flex">Total à payer : {{sum|currency:''}} €</span>
    <md-button ng-show="isSellable" class="md-button md-icon-button md-accent" ng-click="cancel()" aria-label="Annuler">
      <md-tooltip md-direction="up">
        Annuler
      </md-tooltip>
      <md-icon>clear</md-icon>
    </md-button>
    <div flex></div>
    <md-button ng-show="isSellable" class="md-button md-accent md-raised" ng-click="check()" aria-label="Annuler">
      <md-icon>done</md-icon>
      Valider
    </md-button>
  </div>

</md-toolbar>
