<md-bottom-sheet class="md-has-header">
  <md-subheader class="text-center">Actions possible pour cette utilisateur</md-subheader>

  <md-list layout="row" layout-sm="column" layout-align="center end">
    <md-list-item ng-hide="user.isMember">
      <md-button class="md-list-item-content md-raised md-primary" ng-click="confirm('setMemberSell')">
        <md-icon>card_membership</md-icon>
        <span class="md-inline-list-icon-label">
          Vendre carte membre
        </span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content md-primary" ng-click="confirm('setMemberFree')">
        <md-icon>card_membership</md-icon>
        <span class="md-inline-list-icon-label">Déclarer <span ng-if="user.isMember">non-</span>membre</span>
      </md-button>
    </md-list-item>
    <md-list-item ng-show="manager.isManager(true)">
      <md-button class="md-list-item-content md-primary" ng-click="confirm('edit')">
        <md-icon>create</md-icon>
        <span class="md-inline-list-icon-label">Editer</span>
      </md-button>
    </md-list-item>
    <md-list-item ng-show="manager.isManager(true)">
      <md-button tabindex="-1" class="md-list-item-content md-accent" ng-click="confirm('delete')">
        <md-icon>clear</md-icon>
        <span class="md-inline-list-icon-label">{{user.isActive ? 'Désactiver' : 'Ré-activer'}}</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
