<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Supprimer cette vente ?</md-subheader>
  <md-list>
    <md-list-item>
      <md-button class="md-list-item-content" ng-click="confirm(true)">
        <md-icon>done</md-icon>
        <span class="md-inline-list-icon-label">Confirmer</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content md-accent" ng-click="confirm(false)">
        <md-icon>clear</md-icon>
        <span class="md-inline-list-icon-label">Annuler</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>

