<md-bottom-sheet class="md-has-header">
  <div layout-padding>
    <div class="md-display-2 text-center">{{sum | currency:''}} €</div>
    <div class="md-display-1 text-center" ng-repeat="product in productsOnSale">
      {{ product.selected }} x <strong>{{ product.name }}</strong>
    </div>
  </div>
  <md-divider></md-divider>
  <form name="confirmSale">
    <md-input-container>
      <div layout="row" layout-wrap layout-align="center center">
        <md-button class="md-button md-raised" ng-click="setPayment(pm.id)" ng-class="{'md-primary':payment == pm.id}" ng-repeat="pm in paymentModes">
          {{pm.name}}
        </md-button>
      </div>
    </md-input-container>
    <md-list layout="row" layout-wrap layout-align="center center">
      <md-list-item>
        <md-button tabindex="-1" class="md-list-item-content md-accent" ng-click="cancel()">
          <md-icon>clear</md-icon>
          <span class="md-inline-list-icon-label">Annuler</span>
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-list-item-content md-primary md-raised" ng-click="confirm()">
          <md-icon>done</md-icon>
          <span class="md-inline-list-icon-label">Confirmer</span>
        </md-button>
      </md-list-item>
    </md-list>
  </form>
</md-bottom-sheet>
