<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Supprimer ce produit ?</md-subheader>
  <md-list>
    <md-list-item>
      <md-button class="md-list-item-content" ng-click="confirm()">
        <md-icon class="material-icons">done</md-icon>
        <span class="md-inline-list-icon-label">Confirmer</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content md-accent" ng-click="cancel()">
        <md-icon class="material-icons">clear</md-icon>
        <span class="md-inline-list-icon-label">Annuler</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
