.product-list {
  width: 100%
}

.stofma-content {
  max-width: 1080px;
  margin: 0 auto 45px;
}

.wrap {
  height: 100%;
}

.product-list-line .md-button.md-icon-button {
  line-height: 32px;
  min-height: 32px;
  height: 32px;
  width: 32px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  height: 450px;
}

.md-sidenav-left .md-list-item-content.md-button {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.md-sidenav-left .md-list-item-content.md-button.active {
  background-color: #e3e3e3;
}

.md-toolbar-tools h2.page-title {
  max-width: 1080px;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.btn-product-action {
  margin-top: 15px;
}

.stock-out {
  opacity: 0.4;
}

.stock-out .btn-product-action {
  display: none;
}

.text-center {
  text-align: center;
}

.sum.selected {
  color: white;
  background-color: #000000;
}

.md-button.md-icon-button.sum.selected:hover {
  background-color: #555;
}

.stofma-content md-list-item.md-2-line {
  align-items: center;
}

.md-sidenav-left.md-closed-add,
.md-sidenav-left.md-closed-remove {
  transition: 0.2s ease-in all;
}

md-sidenav md-list-item {
  min-height: 0;
}

md-toolbar {
  min-height: initial !important;
}

.screen-intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(21, 101, 192);
  z-index: 1000;
  color: white;
  transition: 0.5s linear opacity;

  img {
    width: 100%;
    height: auto;
    max-height: 350px;
    max-width: 350px;
  }

  &.ng-hide-add-active {
    opacity: 0;
  }
}

.wrap-img img {
  width: 100%;
}

.autocomplete-select-user md-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

md-toolbar .md-toolbar-tools {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

#searchToolbar md-input-container {
  padding: 15px 0;

  input {
    color: white;
  }
}

.stofma-content md-list-item {
  height: auto;
  .md-list-item-text {
    padding: 10px 0;
  }
}

md-list-item.isInactive .md-list-item-text {
  opacity: 0.4;
}

.have-fab .md-button.md-fab.md-fab-bottom-right {
  bottom: auto;
  top: 75%;
  right: 50px;
}
