<div layout="row" layout-sm="column" layout-margin class="text-center">
  <div flex>
    <h2>Entrées</h2>

    <p>Espèces: <strong>{{in_totalCash | currency:''}} €</strong></p>

    <p>Chèques: <strong>{{in_totalCheck | currency:''}} €</strong></p>

    <p>Virement: <strong>{{in_totalTransfer | currency:''}} €</strong></p>

    <p>Total: <strong>{{in_total | currency:''}} €</strong></p>
  </div>
  <div flex="60" flex-sm="100">
    <h3>Informations</h3>

    <p>Le montant des ventes effecutées via le solde s'élève à <strong>{{in_totalFromCredit | currency:'' | currency:''}} €</strong>.</p>

    <p>Un total de <strong>{{totalCredited | currency:''}}</strong> € a été crédité sur les comptes des utilisateurs.</p>

    <p><em>Un total de <strong>{{totalRemainingCredit | currency:''}}</strong> € est toujours disponible sur les comptes des utilisateurs.</em></p>
  </div>
  <div flex>
    <h2>Sorties</h2>

    <p>Espèces: <strong>{{out_totalCash | currency:''}} €</strong></p>

    <p>Chèques: <strong>{{out_totalCheck | currency:''}} €</strong></p>

    <p>Total: <strong>{{out_total | currency:''}} €</strong></p>
  </div>
</div>
<h2 class="text-center" ng-show="payment.length == 0 && isManager">Aucun paiement n'a été enregistré pour le moment.</h2>
