<h3>Créditer le compte d'un utilisateur.</h3>

<form name="creditAccount">
  <md-input-container class="md-icon-float">
    <label>Montant à créditer</label>
    <md-icon class="material-icons">attach_money</md-icon>
    <input type="text" name="amountToCredit" ng-model="amountToCredit" required>

    <div ng-messages="creditAccount.amountToCredit.$error" ng-show="creditAccount.amountToCredit.$dirty">
      <div ng-message="required">Ce champ est obligatoire</div>
      <div ng-message="pattern">La valeur saisie n'est pas correcte</div>
    </div>
  </md-input-container>
  <md-select name="selectedUser" ng-model="selectedUser" placeholder="Sélectionner la personne à créditer" ng-disabled="invitedUser" style="margin-left:20px;">
    <md-option ng-repeat="user in users" ng-value="user.id">{{user.firstname}} {{user.name}}</md-option>
  </md-select>
  <md-list>
    <md-list-item>
      <md-button class="md-list-item-content md-primary" ng-click="credit($event)">
        <md-icon class="material-icons">done</md-icon>
        Créditer le compte
      </md-button>
    </md-list-item>
  </md-list>
</form>
<h3 ng-if="payments.length > 0">Liste des opérations</h3>
<md-list>
  <section ng-repeat="payment in payments">
    <md-list-item class="md-3-line md-no-proxy" role="listitem">
      <div class="md-list-item-text">
        <h3><strong>{{payment.customer.firstname}} {{payment.customer.name}}</strong></h3>
        <h4 ng-if="payment.amount >= 0">Crédité<span ng-if="payment.customer.sex == false">e</span> le <em>{{payment.paymentDate | amDateFormat:'DD/MM/YYYY'}}</em>
          à <em>{{payment.paymentDate | amDateFormat:'HH:mm'}}</em> par {{ payment.manager.name }}</h4>
        <h4 ng-if="payment.amount < 0">Débité<span ng-if="payment.customer.sex == false">e</span> le <em>{{payment.paymentDate | amDateFormat:'DD/MM/YYYY'}}</em>
          à <em>{{payment.paymentDate | amDateFormat:'HH:mm'}}</em> par {{ payment.manager.name }}</h4>

        <p>Montant : <strong>{{payment.amount}} €</strong></p>
      </div>
    </md-list-item>
    <md-divider ng-if="!$last"></md-divider>
  </section>
</md-list>
<h3 class="text-center" ng-if="payments.length == 0">Aucun paiement réalisé.</h3>
<h1>{{chat}}</h1>
