<div layout="row" layout-sm="column" layout-padding>
  <div class="text-justify">
    <h1>Bienvenue au Bureau des Étudiants du CNAM</h1>

    <p>Vous êtes arrivé{{user.sex ? '' : 'e'}} sur l'application officielle des Cigognes de l’Ingénierie en Apprentissage d'Alsace.</p>

    <h2>Gestion des ventes</h2>

    <p>Les ventes réalisées lors des pauses représentent la source de revenu majoritaire de notre association.
      L'objectif de cette démarche est de répartir ces gains sur les divers évènements que nous organisons et de vous proposer des prix plus que raisonnables et
      abordables pour tous.</p>

    <p>Pour bénéficier des ventes, il est fortement conseillé de s'inscrire (ce qui déjà votre cas).
      L'inscription vous permet, d'une part, de visualiser les produits en vente avec leur prix ainsi que leur disponibilité, et, d'autre part, de visualiser vos
      précédents achats.</p>

    <h3>Vente rapide et efficace</h3>

    <p>Le processus de vente se veut d'être rapide et efficace.<br>
      Vous avez également l'opportunité de payer sans argent liquide : l'application prend en charge le paiement par le solde. Vous pouvez déposer de l'argent sur votre
      compte et ainsi l'utiliser pour vos ventes. Ce solde sera à tout moment visualisable sur la page <em>"Mon compte"</em>.</p>

    <h3>L'adhésion à notre association</h3>

    <p>Nous vous recommandons très fortement d'adhérer à notre association pour la modique somme de 10€. En tant que membre, vous bénéficerez de prix réduits sur tout vos
      achats ainsi que sur chaque évènements. N'hésitez pas, vous serez toujours gagnant.</p>

    <h4>Bonne année avec le BDE CIAA et n'hésitez pas à <a href="https://github.com/ciaa-cnam/STOFMA/">prendre part au développement</a> de cette application</h4>
  </div>

  <div class="wrap-img">
    <img src="/images/logo_stofma.png" alt="Logo of stofma" align="right">
    <img src="/images/logo_ciaa.jpg" alt="Logo of student office" align="right">
  </div>
</div>
