<div layout="row" layout-sm="column" layout-padding>
  <div>
    <h1>Bienvenue sur l'application du Bureau des Étudiants.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab odio, quam? Aliquid dignissimos ducimus eos ipsam labore mollitia, necessitatibus.
      Asperiores consequatur dolorem dolorum eaque quod? Autem fugiat quasi quod sequi.</p>

    <h2>Gestion des ventes</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, incidunt voluptas! Aperiam asperiores beatae illo magnam praesentium. Aliquam,
      autem earum id iusto magnam modi neque optio perspiciatis possimus rem veniam!</p>

    <p>Autem cumque doloremque, ea excepturi inventore quod quos sequi
      tenetur vero! Provident, voluptatem, voluptates. Accusamus assumenda labore obcaecati porro, quaerat quis tempora! Accusamus amet aut distinctio
      excepturi fuga illo quae.</p>

    <h3>Vente rapide et efficace</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolor dolore, doloremque eaque error ex laborum minima molestiae molestias nam,
      nisi quasi sint vitae. Amet eaque quisquam vel? Id, nobis?</p>

    <p>Animi, distinctio doloremque eligendi eveniet impedit laborum minus placeat porro,
      quaerat quia quibusdam ratione sunt, tempora? Cumque eligendi magni mollitia? Dolore eveniet facere, molestias perspiciatis quis rem repudiandae
      totam voluptates.</p>

    <p>A assumenda autem dolore eius enim, harum inventore ipsa iste labore maiores molestiae molestias mollitia nisi nobis non
      pariatur perspiciatis quae quaerat quisquam velit! Aliquid beatae debitis dicta fugit. Ducimus.</p>
  </div>

  <div class="wrap-img">
    <img src="/images/logo_stofma.png" alt="Logo of stofma" align="right">
    <img src="/images/logo_ciaa.jpg" alt="Logo of student office" align="right">
  </div>
</div>
