<div layout="row" layout-sm="column" layout-padding>
  <div class="text-justify">
    <h1>Bienvenue au Bureau des Étudiants du CNAM</h1>

    <p>Vous êtes arrivé{{user.sex ? '' : 'e'}} sur l'application officielle Cigognes de l’Ingénierie en Apprentissage d'Alsace.</p>

    <h2>Gestion des ventes</h2>

    <p>Les ventes à la cafèt' représentent une des sources d'argent pour l'association et cela vous sera bénéfique puisque le prix des évènements organisés sera davantage
      régressif et plus avantageux pour vous.</p>

    <p>Pour bénéficier des ventes, il est fortement conseillé de s'inscrire (ce qui déjà votre cas). L'inscription vous permet d'une part de visualiser les produits en
      vente avec leur prix et le nombre restant et d'autre part, de visualiser vos achats réalisés.</p>

    <h3>Vente rapide et efficace</h3>

    <p>Le processus de vente se veut d'être rapide et efficace. Sachez premièrement qu'il vous sera demandé dans le cas où le veudeur ne connait pas votre nom de vous identifier à
      lui. Ensuite, vous pourrez énoncer votre commande et finir par donner votre moyen de paiement.</p>

    <p>Vous bénéficerez de prix régressifs lorsque vous êtes membre, c'est-à-dire d'avoir payer la carte membre équivalent à 10€ (valable uniquement pour l'année).</p>

    <p>Vous avez également l'opportunité de payer sans argent liquide : l'application prend en charge le paiement par le solde. Vous pouvez déposer de l'argent sur votre compte et ainsi l'utiliser pour vos ventes. Ce solde sera à tout moment visualisable sur la page <em>"Mon compte"</em>.</p>

    <h4>Bonne année avec le BDE CIAA et <a href="https://github.com/ciaa-cnam/STOFMA/">n'hésitez pas à aider au développement</a> de cette application</h4>
  </div>

  <div class="wrap-img">
    <img src="/images/logo_stofma.png" alt="Logo of stofma" align="right">
    <img src="/images/logo_ciaa.jpg" alt="Logo of student office" align="right">
  </div>
</div>
