<div class="">

  <div ng-if="updateHimSelf">
    <h2>Bienvenue sur votre profil, {{user.getName()}}.</h2>
    <h3>Votre solde s'élève à <em>{{user.credit | currency:''}} €</em>.</h3>
  </div>
  <div ng-if="!updateHimSelf">
    <h2>Édition du profil de {{user.getName()}}</h2>
  </div>

  <form name="updateUser">
    <md-input-container class="md-icon-float">
      <label>Adresse e-mail</label>
      <md-icon>email</md-icon>
      <input type="email" name="userMail" ng-model="user.email" ng-model="userMail" required>

      <div ng-messages="updateUser.userMail.$error" ng-show="updateUser.userMail.$dirty">
        <div ng-message="required">Ce champ est obligatoire</div>
        <div ng-message="email">L'adresse e-mail n'est pas correct</div>
      </div>
    </md-input-container>
    <md-input-container class="md-icon-float">
      <label>Numéro de téléphone</label>
      <md-icon>phone</md-icon>
      <input type="text" name="userPhoneNumber" ng-model="user.phoneNumber" ng-model="userPhoneNumber" pattern="[0-9\s]+">

      <div ng-messages="updateUser.userPhoneNumber.$error" ng-show="updateUser.userPhoneNumber.$dirty">
        <div ng-message="pattern">Le numéro n'est pas correct</div>
      </div>
    </md-input-container>
    <md-input-container class="md-icon-float">
      <label>Mot de passe</label>
      <md-icon>code</md-icon>
      <input type="password" name="userPassword" ng-model="userPassword">
    </md-input-container>
    <md-input-container class="md-icon-float">
      <label>Vérification du mot de passe</label>
      <md-icon>done_all</md-icon>
      <input type="password" name="userPasswordVerif" ng-model="userPasswordVerif">

      <div ng-messages="updateUser.userPasswordVerif.$error" ng-show="updateUser.userPasswordVerif.$dirty">
        <div ng-message="equals">Les mots de passes ne correspondent pas.</div>
      </div>
    </md-input-container>

    <md-button ng-click="update($event)" class="md-primary md-raised">Enregitrer les modifications</md-button>
    <md-button ng-hide="updateHimSelf" ng-click="cancel()" class="md-accent">Enregitrer les modifications</md-button>
  </form>
</div>
