<md-list>
  <section ng-repeat="purchase in purchases">
    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
        <h3><strong>{{purchase.manager.name}} a acheté pour un total de {{purchase.amont}}</strong></h3>
        <ul>
          <li ng-repeat="ps in purchase.products">{{ps.quantity}}x <strong>{{ps.name}}</strong> : <strong>{{ps.quantity * ps.unitPrice}}</strong>
          </li>
        </ul>
      </div>
    </md-list-item>
    <div ng-if="sale.type == 'header'">
      <md-subheader>{{purchase.title}}</md-subheader>
    </div>
  </section>
</md-list>
<h2 class="text-center" ng-if="purchases.length == 0">Aucun achat n'a été enregistré pour le moment.</h2>
