<md-list ng-hide="purchases.length == 0">
  <section ng-repeat="purchase in purchases">
    <md-subheader ng-if="purchase.type == 'header'">{{purchase.title}}</md-subheader>
    <md-list-item class="md-3-line md-no-proxy" role="listitem" ng-if="purchase.type != 'header'">
      <div class="md-list-item-text" layout="row" layout-align="space-between center">
        <div layout="column">
          <h3 title="{{purchase.purchaseDate | amDateFormat:'LLLL'}}"><strong>{{purchase.manager.firstname}} {{purchase.manager.name}}</strong></h3>
          <h4>A effectué un achat <span class="ng-hide" ng-show="seeMore">le <em>{{purchase.purchaseDate | amDateFormat:'LLLL'}}</em> </span></h4>

          <p>Montant : <strong>{{ purchase.totalPrice | currency:''}} €</strong></p>
          <p>Paiement : <strong>{{ purchase.payment.name }}</strong></p>
          <ul ng-show="seeMore">
            <li ng-repeat="pair in purchase.pairs">
              <em><strong>{{pair.name}}</strong></em> x{{pair.quantity}} – <strong>{{pair.price|currency:''}} €</strong>
            </li>
          </ul>
        </div>
        <div layout="row" layout-align="end center">
          <md-button class="md-fab md-mini" ng-click="seeMore=!seeMore">
            <md-icon>add</md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-primary" ng-click="amend(purchase.id, $index)">
            <md-icon>create</md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-warn" ng-click="remove(purchase.id, $index)">
            <md-icon>clear</md-icon>
          </md-button>
        </div>
      </div>
    </md-list-item>
    <md-divider ng-if="!$last"></md-divider>
  </section>
</md-list>
<h2 class="text-center" ng-show="purchases.length == 0">Aucun achat n'a été enregistré pour le moment.</h2>
