<div layout-padding>
  <h3>Gérer les rôles des utilisateurs</h3>

  <form name="addManagerForm" ng-hide="simpleUsers.length == 0">
    <md-autocomplete md-menu-class="autocomplete-select-user" required md-selected-item="selectedUser" placeholder="Sélectionner le futur manager" md-autofocus="true"
                     md-autoselect="true" md-select-on-match="true" md-search-text="searchUserText" md-items="user in getMatches(searchUserText)"
                     md-item-text="user.getName()">
      <md-item-template>
        <div layout="row">
          <div>
            <md-icon>person</md-icon>
          </div>
          <span md-highlight-text="searchUserText">{{user.getName()}}</span>&nbsp;-&nbsp;<em>{{user.credit | currency:''}} €</em>
          <md-icon ng-if="user.isMember" class="material-icons md-accent">card_membership</md-icon>
        </div>
      </md-item-template>
      <md-not-found>
        Aucun utilisateur trouvé.
      </md-not-found>
    </md-autocomplete>
    <md-list>
      <md-list-item>
        <md-button class="md-list-item-content md-primary" ng-click="addManager($event)">
          <md-icon>done</md-icon>
          Ajouter le manager
        </md-button>
      </md-list-item>
    </md-list>
  </form>
  <h3 class="md-title" ng-show="simpleUsers.length == 0"><em>Aucun utilisateur n'est disponible. Veuillez ajouter des utilisateurs pour gérer leur rôle.</em></h3>

  <div ng-if="managers.length != 0">
    <h3>Liste des managers</h3>
    <md-list layout-padding>
      <section ng-repeat="manager in managers">
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="row" layout-sm="column">
            {{manager.getName()}}
          </div>
          <div layout="row" layout-align="end center">
            <md-button class="md-button md-primary md-icon-button" ng-click="setAdmin(manager.id, $index)">
              <md-icon>whatshot</md-icon>
            </md-button>
            <md-button class="md-button md-accent md-icon-button" ng-click="removeManager(manager.id, $index)">
              <md-icon>clear</md-icon>
            </md-button>
          </div>
        </md-list-item>
      </section>
    </md-list>
  </div>
  <h3 class="md-title" ng-if="managers.length == 0"><em>Aucun manager désigné.</em></h3>

  <div ng-if="admins.length != 0">
    <h3>Liste des administrateurs</h3>
    <md-list layout-padding>
      <section ng-repeat="admin in admins">
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="row" layout-sm="column">
            {{admin.getName()}}
          </div>
          <div layout="row" layout-align="end center">
            <md-button class="md-button md-accent md-icon-button" ng-click="setManager(admin.id, $index)">
              <md-icon>clear</md-icon>
            </md-button>
          </div>
        </md-list-item>
      </section>
    </md-list>
  </div>
  <h3 class="md-title" ng-if="admins.length == 0"><em>Aucun administrateur désigné.</em></h3>
</div>
