<div class="">

  <h3>Gérer les rôles des utilisateurs.</h3>

  <form name="addManagerForm">
    <md-select name="selectedUser" ng-model="selectedUser" placeholder="Sélectionner le nouveau manager" ng-disabled="invitedUser" style="margin-left:20px;">
      <md-option ng-repeat="user in simpleUsers" ng-value="user.id">{{user.firstname}} {{user.name}}</md-option>
    </md-select>
    <md-list>
      <md-list-item>
        <md-button class="md-list-item-content md-primary">
          <md-icon class="material-icons">done</md-icon>
          <md-button ng-click="addManager($event)" class="md-primary">Ajouter le manager</md-button>
        </md-button>
      </md-list-item>
    </md-list>
  </form>
  <h3 ng-if="managerUsers.length > 0">Liste des managers</h3>
  <md-list>
    <section ng-repeat="manager in managerUsers">
      <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="row" layout-sm="column">
          {{manager.firstname}} {{manager.name}}
        </div>
        <div layout="row" layout-align="end center">
          <md-button class="md-button md-accent md-icon-button" ng-click="removeManager(manager.id)">
            <md-icon class="material-icons">clear</md-icon>
          </md-button>
        </div>
      </md-list-item>
    </section>
  </md-list>
  <h3 class="text-center" ng-if="managerUsers.length == 0">Pas de manager.</h3>

</div>
