<md-list ng-hide="sales.length == 0">
  <section ng-repeat="sale in sales">
    <div ng-if="sale.type == 'header'">
      <md-subheader class="md-no-sticky">{{sale.title}}</md-subheader>
    </div>
    <md-list-item class="md-3-line md-no-proxy" role="listitem" ng-if="sale.type != 'header'">
      <div class="md-list-item-text" layout="row" layout-align="space-between center">
        <div layout="column">
          <h3 title="{{sale.saleDate | amDateFormat:'LLLL'}}" ng-if="isManager"><strong>{{sale.customer.firstname}} {{sale.customer.name}}</strong></h3>
          <h4>Vendu <span class="ng-hide" ng-show="seeMore">le <em>{{sale.saleDate | amDateFormat:'LLLL'}} </em></span>par <strong>{{sale.manager.firstname}} {{sale.manager.name}}</strong></h4>

          <p>Montant : <strong>{{ sale.totalPrice | currency:''}} €</strong></p>

          <p>Paiement : <strong>{{ sale.payment.name }}</strong></p>
          <ul ng-show="seeMore">
            <li ng-repeat="pair in sale.pairs">
              {{pair.quantity}} x <em><strong>{{pair.name}}</strong></em> : <strong>{{pair.price|currency:''}} €</strong>
            </li>
          </ul>
        </div>
        <div layout="row" layout-sm="column" layout-align="end center">
          <md-button class="md-fab md-mini" ng-click="seeMore=!seeMore">
            <md-tooltip md-direction="top">Afficher plus</md-tooltip>
            <md-icon ng-if="!seeMore">visibility</md-icon>
            <md-icon ng-if="seeMore">visibility_off</md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-primary" ng-click="amend(sale.id, $index)" ng-hide="!isManager">
            <md-tooltip md-direction="top">Modifier</md-tooltip>
            <md-icon>create</md-icon>
          </md-button>
          <md-button class="md-fab md-mini md-warn" ng-click="remove(sale.id, $index)" ng-hide="!isManager">
            <md-tooltip md-direction="top">Supprimer</md-tooltip>
            <md-icon>clear</md-icon>
          </md-button>
        </div>
      </div>
    </md-list-item>
    <md-divider ng-if="!$last"></md-divider>
  </section>
</md-list>
<h2 class="text-center" ng-show="sales.length == 0 && isManager">Aucune vente n'a été enregistrée pour le moment.</h2>
<h2 class="text-center" ng-show="sales.length == 0 && !isManager">Aucun achat n'a été effectué pour le moment.</h2>
