<div class="">
  <md-list>
    <md-subheader>La semaine dernière ({{sales.length}} ventes)</md-subheader>
    <md-list-item ng-repeat="sale in sales" class="md-2-line">
      <img ng-src="{{sale.buyer.avatar}}" class="md-avatar" alt="{{sale.buyer.name}}"/>

      <div class="md-list-item-text">
        <h3><strong>{{sale.seller.name}}</strong> a vendu à <strong>{{sale.buyer.name}}</strong> pour {{ sale.saleinfo.total | currency:''}} €</h3>
        <h4><span ng-repeat="ps in sale.saleinfo.products">{{ps.quantity}}x <strong>{{ps.name}}</strong><span
          ng-if="!$last">, </span></span></h4>
      </div>
      <md-divider ng-if="!$last"></md-divider>
      <md-button class="md-button md-accent md-icon-button" ng-click="remove(sale.saleinfo.id)">
        <md-icon class="material-icons">clear</md-icon>
      </md-button>
      <md-button class="md-button md-primary md-icon-button" ng-click="amend(sale.saleinfo.id)">
        <md-icon class="material-icons">create</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
</div>