<md-list>
  <table>
    <thead>
      <th>Nom</th>
      <th>Rôle</th>
      <th>Solde</th>
      <th>E-mail</th>
    </thead>
    <tr ng-repeat="u in users">
      <td width="30%"><strong>{{u.name}} {{u.firstname}}</strong></td>
      <td width="20%">{{u.role}}</td>
      <td class="text-center" width="15%">{{u.credit | currency:''}} €</td>
      <td width="30%">{{u.email}}</td>
      <td width="5%">
        <md-button class="md-button md-primary md-icon-button" ng-click="goProfileEditor(u.id)">
          <md-icon class="material-icons">create</md-icon>
        </md-button>
      </td>
    </tr>
  </table>
</md-list>
