<md-list-item class="md-2-line" ng-class="{'stock-out' : product.isOut()}">
  <img ng-src="{{product.urlImage}}" ng-if="product.urlImage" alt="image of {{product.name}}" class="md-avatar"/>
  <div class="md-list-item-text">
    <h3 hide-sm>{{product.name}}</h3>
    <h3 hide-gt-sm show-sm>{{product.shortName}}</h3>
    <h4><em ng-if="$parent.isSelectingMode">{{product.quantity}} x </em><strong>{{product.price | currency:''}} €</strong><em ng-if="$parent.isSelectingMode"> – {{product.price * product.quantity | currency:''}} €</em></h4>
  </div>
  <div flex></div>
  <div ng-if="$parent.isSellingMode" layout="row" layout-align="end center" class="btn-product-action">
    <md-button class="md-icon-button md-accent" ng-click="remove(product.id)">
      <md-icon class="material-icons">remove_circle</md-icon>
    </md-button>
    <md-button class="md-icon-button sum" ng-class="{'selected': product.selected}" ng-click="clear(product.id)">
      {{product.selected}}
    </md-button>
    <md-button class="md-icon-button md-accent" ng-click="add(product.id)">
      <md-icon class="material-icons">add_circle</md-icon>
    </md-button>
  </div>
  <div ng-if="product.isOut()">
    <strong>Le produit est en rupture de stock.</strong>
  </div>
  <div ng-if="$parent.isSelectingMode" layout="row" layout-align="end center">
    <md-button class="md-icon-button md-primary" ng-if="$parent.$parent.canBeEdit" ng-click="edit(product)">
      <md-icon class="material-icons">edit</md-icon>
    </md-button>
    <md-button class="md-icon-button md-accent" ng-click="clear(product.id)">
      <md-icon class="material-icons">clear</md-icon>
    </md-button>
  </div>
  <div ng-if="$parent.isListingMode && !product.isOut()">
    <strong>{{product.quantity}} disponible<span ng-if="product.quantity > 1">s</span></strong>
  </div>
</md-list-item>
<md-divider ng-if="!$parent.$last"></md-divider>

